.div_wrapper{
    height: 100%;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    /* border: 1px solid red; */
}

.titulos {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #605d5f !important;
}

