.div_wrapper{
    height: 100%;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.titulos {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #605d5f !important;
}


div.ant-drawer-header-title {
    margin-left: -25px;
}

div.ant-drawer-body{
    padding-top: 10px !important;
}

.total-row {
    background-color: #f5fef5; /* Cambia este valor al color verde pastel deseado */
  }
  