
::-webkit-scrollbar {
  width: 5px;
  background: transparent;
  height: 5px;
  /* display: none; */
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 8px;
  -webkit-border-radius: 8px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}